.signuptext {
    position: absolute;
    color: var(--gray-300, #CBD5E0);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
    margin-left: 570px;
    margin-top: 140px;
}
.name-input{
    position: absolute;
    padding: 20px 8px 0px 8px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #4A5568;
    opacity: 0.7;
    background:#1A202C;
    margin-top: 204px;
    margin-left: 570px;
    color: #EDF2F7;  
}

.name-text{
    color:#EDF2F7;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin-top: -50px;
    margin-left: 587px;    
}

.uname-input,.email-input,.pass-input{
    position: absolute;
    padding: 20px 8px 0px 8px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #4A5568;
    opacity: 0.7;
    background:#1A202C;
    margin-top: 60px;
    margin-left: 570px;
    color: #EDF2F7;     
}
.signupbtn {
    position: absolute;
    display: flex;
    width: 375px;
    height: 42px;
    padding: 0px 12px;
    gap: 8px;
    background-color: #9F7AEA !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    top: 60px;
    left: 570px;
}

.signupbtn:hover {
    background-color: #805ad5 !important;
}
.already{
    position: absolute;
    color: white;
    top: 610px;
    left: 640px;
}
.link{
    position: absolute;
    color: #9F7AEA ;
    font-weight: bold;
    top: 610px;
    left: 830px;
}
.link:hover{
    color: #B794F4;
}