.theme1{
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: #171923;
    margin-top: 50px;
    margin-left: 400px;
    border: 1px solid #805ad5;
}
.theme2{
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: #171923;
    margin-top: 50px;
    margin-left: 970px;
    border: 1px solid #805ad5;
}
.theme3{
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: #171923;
    margin-top: 330px;
    margin-left: 400px;
    border: 1px solid #805ad5;
}
.theme4{
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: #171923;
    margin-top: 330px;
    margin-left: 970px;
    border: 1px solid #805ad5;
}
.theme1img, .theme2img, .theme3img, .theme4img{
    width: 400px;
    height: 200px;
}
.theme1txt, .theme2txt, .theme3txt, .theme4txt{
    text-align: center;
    color: white;
    padding-top: 15px;
}
.proceed-2{
    position: absolute;
    padding: 7px 15px;
    background-color: transparent;
    color: white;
    border: 2px solid #805ad5;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1320px;
    margin-top: 600px;
}

.proceed-2:hover {
    background-color: #805ad5;
}