.choose_theme_page {
  background-color: #1a202c;
}
.choose_theme_body {
  display: flex;
  flex-direction: row;
}
.choose_theme_container {
  background-color: #1a202c;
  min-height: 100vh;
  width: 82.65vw;
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -80px;
}
.theme1{
    background-color: #171923;
    border-radius: 6px;
}
.theme2{
    background-color: #171923;
    border-radius: 6px;
}
.gray{
    border: 1px solid #E2E8F0;
}
.blue{
    border: 1px solid #90CDF4;
}
.gray:hover{
    border: 3px solid #E2E8F0;
}
.blue:hover{
    border: 3px solid #90CDF4;
}
.teal{
    border: 1px solid #81E6D9;
}
.cyan{
    border: 1px solid #9DECF9;
}
.teal:hover{
    border: 3px solid #81E6D9;
}
.cyan:hover{
    border: 3px solid #9DECF9;
}
.orange{
    border: 1px solid #FBD38D;
}
.green{
    border: 1px solid #9AE6B4;
}
.orange:hover{
    border: 3px solid #FBD38D;
}
.green:hover{
    border: 3px solid #9AE6B4;
}
.yellow{
    border: 1px solid #FAF089;
}
.red{
    border: 1px solid #FEB2B2;
}
.yellow:hover{
    border: 3px solid #FAF089;
}
.red:hover{
    border: 3px solid #FEB2B2;
}
.purple{
    border: 1px solid #D6BCFA;
}
.pink{
    border: 1px solid #FBB6CE;
}
.purple:hover{
    border: 3px solid #D6BCFA;
}
.pink:hover{
    border: 3px solid #FBB6CE;
}
.theme1img, .theme2img{
    width: 450px;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.theme1txt, .theme2txt{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 1200px){
    .choose_theme_container{
        flex-direction: column;
        margin-top: 0;
    }
    .theme1{
        margin-bottom: 50px;
    }
    .theme1img, .theme2img{
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width: 500px){
    .choose_theme_container{
        flex-direction: column;
        margin-top: 0;
    }
    .theme1{
        margin-bottom: 50px;
    }
    .theme1img, .theme2img{
        width: 320px;
        height: 220px;
    }
}