.font{
    position: absolute;
    color: white;
    margin-top: 21px;
    margin-left: 30px;
}
.slctfont{
    color: white;
    margin-top: 60px;
    margin-left: 30px;
}
.options{
    color: #171923 !important;
}
.color{
    position: absolute;
    color: white;
    margin-top: 51px;
    margin-left: 30px;
}
.slctcolor{
    color: white;
    margin-top: 90px;
    margin-left: 30px;
}
.categories-nav-3{
    position: absolute;
    margin-top: 40px;
    margin-left: 350px;
    color: rgb(157, 150, 150);
}
.cust-theme-nav-3{
    position: absolute;
    color: white;
    margin-top: 40px;
    margin-left: 610px;
}
.line-nav-3{
    padding-top: 70px;
    margin-left: 610px;
    color: #805ad5;
}
.body-3{
    width: 1040px;
    height: 510px;
    margin-top: 60px;
    margin-left: 375px;
    border-radius: 8px;
    background-color: #171923;
}
.proceed-3{
    position: absolute;
    padding: 7px 15px;
    background-color: transparent;
    color: white;
    border: 2px solid #805ad5;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1320px;
    margin-top: 30px;
}
.proceed-3:hover {
    background-color: #805ad5;
}