.font{
    position: absolute;
    color: white;
    margin-top: 21px;
    margin-left: 30px;
}
.slctfont{
    color: white;
    margin-top: 60px;
    margin-left: 30px;
}
.options{
    color: #171923 !important;
}
.color{
    position: absolute;
    color: white;
    margin-top: 51px;
    margin-left: 30px;
}
.slctcolor{
    color: white;
    margin-top: 90px;
    margin-left: 30px;
}
.body-3{
    width: 1040px;
    height: 510px;
    margin-top: 60px;
    margin-left: 375px;
    border-radius: 8px;
border: 1px solid var(--gray-700, #2D3748);
opacity: 0.7;
background: var(--gray-900, #171923);
}
.proceed-3{
    position: absolute;
    padding: 7px 15px;
    background-color: transparent;
    color: white;
    border: 2px solid #718096;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1320px;
    margin-top: 30px;
}
.proceed-3:hover {
    background-color: #805ad5;
}