.home_page {
  background-color: #1a202c;
  /* height: 230vh; */
  height: 100%;
  width: 100vw;
}
.header {
  background-color: #1a202c;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 10px;
  z-index: 100;
}
.header_logo {
  width: 160px;
  object-fit: contain;
  margin: 5px 20px;
}
.header_nav {
  display: flex;
  justify-content: center;
  flex-basis: 70%;
  margin-left: 2vw;
}
.header_option {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 10px;
  color: white;
  font-size: 17px;
}
.header_signup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup {
  background-color: transparent;
  color: white;
  border-radius: 16px;
  border: 1px solid #805ad5;
  padding: 4px 22px;
  white-space: nowrap;
  transition: background-color 0.2s ease-out;
}
.signup:hover {
  background-color: #805ad5 !important;
}
.line_div {
  background-color: #1a202c;
  margin-top: 10px;
}
.line_div_1 {
  background-color: #1a202c;
  margin-top:250px;
}
.line {
  stroke-width: 2px !important;
  stroke: #171923 !important;
  opacity: 0.5;
}
.home1 {
  background-color: #1a202c;
  margin: 0 !important;
  height: 90vh;
}
.home_container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.left_eclipse {
  width: 12%;
  position: absolute;
  left: 0;
  top: 200px;
}
.right_eclipse {
  width: 12%;
  position: absolute;
  right: 0;
  top: 200px;
}
.about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}
.about-us-title{
  color: #cbd5e0;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}
.subtitle-1 {
  color: #cbd5e0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
  margin-top: 30px;
  margin-left: 17vw;
  margin-right: 17vw;
  text-align: center;
  max-width: 1000px;
}

@media screen and (max-width: 968px) {
  .left_eclipse {
    display: none;
  }
  .right_eclipse {
    display: none;
  }
}

  
.title {
  color: white;
  text-align: center;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  opacity: 0.9;
  background: linear-gradient(
    180deg,
    #fff 23.25%,
    rgba(255, 255, 255, 0.49) 92.67%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  color: #cbd5e0;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
  margin-top: 10px;
}
.create_store {
  color: white;
  background-color: #805ad5;
  border-radius: 10px;
  border: 1px solid #805ad5;
  padding: 8px 20px;
  margin-top: 25px;
  transition: background-color 0.2s ease-out;
}
.create_store:hover {
  background-color: #50338e;
}
.arrow{
  padding-left: 3px;
}
.contact-us {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contact-us1{
  width: 100%;
  padding: 0 20px; 
  margin-bottom: 20px; 
}
.visit-us{
  width: 100%;
  padding: 0 20px; 
  margin-bottom: 20px; 
}
.reach-us {
  width: 100%;
  padding: 0 20px; 
  margin-bottom: 20px;
  margin-right: 120px; 
}

.contact-us-txt1,
.contact-us-txt2,
.contact-us-txt3 {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.contact-us-subtitle {
  color: #cbd5e0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .contact-us {
    flex-direction: row;
  }

  .contact-us1{
    flex: 1;
    margin-bottom: 0; 
  }
  .visit-us {
    flex: 1;
    margin-bottom: 0; 
  }

  .reach-us {
    width: auto;
    flex-shrink: 0; 
    margin-left: auto; 
  }
}
