.personal {
    position: absolute;
    width: 985px;
    height: 350px;
    left: 400px;
    top: 145px;
    background: #171923;
    opacity: 0.9;
    border: 1px solid #1A202C;
    border-radius: 16px;
}
.head {
    position: absolute;
    left: 40px;
    font-size: 21px;
    top: 20px;
    color: rgb(255, 255, 255);
}
.rect1 {
    position: absolute;
    width: 751px;
    height: 40px;
    left: 105px;
    top: 80px;
    background: #171923;
    opacity: 0.9;
    border: 0.5px solid #A0AEC0;
    border-radius: 4px;
}
.rect2 {
    position: absolute;
    width: 751px;
    height: 40px;
    left: 105px;
    top: 140px;
    background: #171923;
    opacity: 0.9;
    border: 0.5px solid #A0AEC0;
    border-radius: 4px;
}
.rect3 {
    position: absolute;
    width: 751px;
    height: 40px;
    left: 105px;
    top: 200px;
    background: #171923;
    opacity: 0.9;
    border: 0.5px solid #A0AEC0;
    border-radius: 4px;
}
.rect4 {
    position: absolute;
    width: 751px;
    height: 40px;
    left: 105px;
    top: 260px;
    background: #171923;
    opacity: 0.9;
    border: 0.5px solid #A0AEC0;
    border-radius: 4px;
}
.left {
    position: absolute;
    font-size: 18px;
    left: 30px;
    top: 5.5px;
    color: #A0AEC0;
}
.col {
    position: absolute;
    width: 311px;
    height: 26px;
    left: 200px;
    top: 5.5px;
    font-family: 'Inter';
    font-size: large;
    color: #A0AEC0;
}
.right {
    position: absolute;
    left: 300px;
    top: 5.5px;
    font-size: 18px;
    color: #A0AEC0;
}
.web {
    position: absolute;
    width: 985px;
    height: 230px;
    background-color: #171923;
    left: 400px;
    top: 550px;
    opacity: 0.9;
    border: 1px solid #1A202C;
    border-radius: 16px;
}
.wrect {
    position: absolute;
    width: 751px;
    height: 40px;
    left: 105px;
    top: 100px;
    background: #171923;
    opacity: 0.9;
    border: 0.5px solid #A0AEC0;
    border-radius: 4px;
}