.store-name-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub-txt-left {
  font-size: 18px;
  font-weight: 450;
  line-height: 28px;
  margin-top: 30px;
  margin-left: 80px;
}
.sub-txt-right {
  font-size: 18px;
  font-weight: 450;
  line-height: 28px;
  margin-top: 30px;
  margin-right: 80px;
}
.edit-store-details-box {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  width: 64vw;
  height: 50vh;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.edit_option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit_icon {
  height: 25px;
  margin-top: 2vw;
  margin-left: 42vw;
}
.edit_icon:hover {
  border: 2px solid white;
  border-radius: 4px;
}
.edit_txt {
  color: #edf2f7;
  opacity: 0.7;
  font-weight: 500;
  font-size: 18px;
  margin-top: 2vw;
  margin-left: 40vw;
}

.edit-products-container {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 750px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  color: #edf2f7;
  margin-bottom: 2vw;
}
.products-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 82px;
  margin-bottom: 28px;
}
.add-product-btn{
  border-radius: 6px;
  border: 1px solid #805ad5;
  padding: 6px 7px;
  margin-top: 30px;
  margin-left: 42vw;
  background-color: transparent;
}
.add-product-btn:hover{
  background-color: #50338e;
}
.products-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 64vw;
  height: 45vh;
  margin-bottom: 28px;
}
.product-card {
  background-color: #1a202c;
  border: 2px solid var(--gray-700, #2d3748);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-product-txt {
  color: #edf2f7;
  text-align: center;
  margin-top: 1vw;
}
.edit-product-image {
  margin-left: 1vh;
  margin-top: 1vh;
}
.footer {
  display: flex !important;
  justify-content: center !important;
}
.edit-product-link {
  text-align: center;
  color: #edf2f7;
  background-color: #1a202c;
  border: 2px solid #718096;
  border-radius: 6px;
  height: 35px;
  width: 100px;
  padding-top: 5px;
}
.edit-product-link:hover {
  color: #718096;
  background-color: #171923;
}
