.help_page {
  background-color: #1a202c;
  height: 100%;
  width: 100vw;
}
.help-body {
  display: flex;
  justify-content: center;
}

.help-container {
  background-color: #1a202c;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  width: 81.3vw;
}

.help {
  width: 50vw;
  height: 50vh;
  margin-top: 50px;
  border: 1px solid #44337a;
  margin-left: 15vw;
}

.help-box {
  display: flex;
  flex-direction: column;
}

.help-text {
  color: #cbd5e0;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 30px;
  text-align: center;
  margin-left: 15vw;
  margin-right: 16vw;
}
body{
  overflow-x: hidden;
}
@media screen and (max-width: 600px){
  .help{
    width: 400px;
    height: 300px;
    margin-left: 0;
  }
}