.product-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 670px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.pricing-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 370px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.sizing-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 420px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.color-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 325px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.checkbox {
  display: flex;
  justify-content: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
}
.checkbox1 {
  display: none !important;
}
.checkbox2 {
  display: none !important;
}
.checkbox-txt {
  margin-left: 1vw;
}

.color-box {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.input-box-1 {
  display: flex;
  padding: 0px 16px;
  gap: 10px;
  border: 1px solid var(--gray-400, #a0aec0);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  color: #a0aec0;
  max-width: 108vh;
}

.plus-box {
  display: flex;
  margin-left: 10px;
  width: 37px;
  height: 40px;
  opacity: 0.7;
}

@media screen and (max-width: 1150px) {
  .checkbox {
    display: none !important;
  }
  .checkbox1 {
    display: flex !important;
    justify-content: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
  }
  .sizing-details-box{
    height: 460px;
  }
}
@media screen and (max-width: 700px) {
  .checkbox {
    display: none !important;
  }
  .checkbox1 {
    display: none !important;
  }
  .checkbox2 {
    display: flex !important;
    justify-content: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
  }
  .sizing-details-box{
    height: 500px;
  }
  .pricing-details-box{
    height: 390px;
  }
}
