.product-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 670px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.pricing-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 370px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.sizing-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 420px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.color-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 325px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}

.checkbox {
  display: flex;
  justify-content: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
}
.checkbox1 {
  display: none !important;
}
.checkbox2 {
  display: none !important;
}
.checkbox-txt {
  margin-left: 1vw;
}

.color-box {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.input-box-1 {
  display: flex;
  padding: 0px 16px;
  gap: 10px;
  border: 1px solid var(--gray-400, #a0aec0);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  color: #a0aec0;
  max-width: 108vh;
}

.plus-box {
  display: flex;
  margin-left: 10px;
  width: 37px;
  height: 40px;
  opacity: 0.7;
}
.text{
  display: flex;
  flex-direction: row;
}
.asterisk{
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 25px;
  margin-left: 7px;
  color: #E53E3E;
}
.add-more {
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  border: 2px solid #44337A;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  z-index: 1;
}
.add-more:hover {
  background-color: #553C9A;
}
@media screen and (max-width: 1150px) {
  .checkbox {
    display: none !important;
  }
  .checkbox1 {
    display: flex !important;
    justify-content: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
  }
  .sizing-details-box{
    height: 460px;
  }
}
@media screen and (max-width: 700px) {
  .checkbox {
    display: none !important;
  }
  .checkbox1 {
    display: none !important;
  }
  .checkbox2 {
    display: flex !important;
    justify-content: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
  }
  .sizing-details-box{
    height: 500px;
  }
  .pricing-details-box{
    height: 390px;
  }
}
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background-color: #44337A;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 450px;
}

.popup-content {
  position: relative;
  text-align: center;
}

.popup-content h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 18px;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.link-container p {
  color: white;
}

.popup-content button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.popup-content button:hover {
  color: #ffffff;
}

.close-icon {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 24px;
  color: rgb(33, 30, 30);
  cursor: pointer;
}

.close-icon:hover {
  color: #edf2f7;
}