.store-details-page {
  background-color: #1a202c;
  height: 100vh;
  width: 99vw;
}
.store-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-details-box {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  width: 64vw;
  height: 560px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}
.store-contact-details-box,
.billing-details-box {
  display: flex;
  flex-direction: column;
  width: 64vw;
  height: 430px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #2d3748);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-bottom: 28px;
  padding-left: 82px;
  padding-right: 82px;
  color: #edf2f7;
}
.storetxt {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 32px;
  white-space: nowrap;
}

.sub-txt {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 24px;
}

.input-box {
  padding: 0px 16px;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--gray-400, #a0aec0);
  opacity: 0.7;
  background: var(--gray-900, #171923);
  margin-top: 12px;
  color: #a0aec0;
  max-width: 115vh;
}

.upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50vw;
  margin-top: 12px;
  height: 20vh;
  border: 2px dashed #4a5568;
  background: var(--gray-900, #171923);
  padding-left: 20vw;
  padding-right: 20vw;
}

.upload-button {
  display: flex;
  background-color: transparent;
  justify-content: center;
  color: white;
  border: 2px solid #718096;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 3vw;
  width: 9vw;
  cursor: pointer;
}
.upload-button:hover {
  background-color: #1a202c;
}

.upload-txt {
  width: 20vw;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 1vh;
  margin-left: 7vw;
  color: #718096;
}
.alert-txt {
  width: 20vw;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 1vh;
  margin-left: 7vw;
  color: red;
}

@media screen and (max-width: 768px) {
  .upload-button {
    font-size: 12px;
    font-weight: 500;
  }
  .upload-txt{
    display: none;
  }
  .sub-txt{
    font-size: 16px;
  }
  .storetxt{
    font-size: 22px;
  }
}