
.image {
    position: absolute;
    width: 160px;
    height: 106.667px;
    flex-shrink: 0;
    border-right: 100px;
    margin-left: 100px;
    margin-top: -8px;
}
.line{
    position: absolute;
    width: 1520px;
    transform: rotate(0.279deg);
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #171923;
    opacity: 0.5;
    margin-top: 92px;
    }
    .eclipse{
        position: absolute;
        width: 250px;
        height: 430px;
        flex-shrink: 0;
        fill: linear-gradient(182deg, #FFF -24.8%, rgba(255, 255, 255, 0.00) 134.3%);
        opacity: 0.2;
        margin-top: 120px;
        }
        
        .bright_1{
        position: absolute;
        fill:#E9D8FD;
        opacity: 0.3;
        filter: blur(200px);
        margin-left: -83.3px;
        margin-top: 90px;
        }
        
        .eclipse_2{
        position: absolute;
        width: 250px;
        height: 430px;
        flex-shrink: 0;
        fill: linear-gradient(182deg, #FFF -24.8%, rgba(255, 255, 255, 0.00) 134.3%);
        opacity: 0.2; 
        margin-left: 1260px;     
        margin-top:120px ; 
        }
        
        .bright_2{
        position: absolute;
        fill:#E9D8FD;
        opacity: 0.3;
        filter: blur(200px);
        margin-left: 1250px;     
        margin-top:110px ; 
        }
        
.logintext {
    position: absolute;
    color: var(--gray-300, #CBD5E0);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    margin-left: 570px;
    margin-top: 190px;
}

.username-input{
    position: absolute;
    padding: 20px 8px 0px 8px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #4A5568;
    opacity: 0.7;
    background:#1A202C;
    margin-top: 290px;
    margin-left: 570px;
    color: #EDF2F7;  
}
.password-input{
    position: absolute;
    padding: 20px 8px 0px 8px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #4A5568;
    opacity: 0.7;
    background:#1A202C;
    margin-top: 60px;
    margin-left: 570px;
    color: #EDF2F7; 
}
.loginbtn {
    position: absolute;
    display: flex;
    width: 375px;
    height: 42px;
    padding: 0px 12px;
    gap: 8px;
    background-color: #9F7AEA !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    top: 60px;
    left: 570px;
}

.loginbtn:hover {
    background-color: #805ad5 !important;
}