.login_body {
  background-color: #1a202c;
  height: 90vh;
  width: 100vw;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
