.dashboard{
    position:absolute;
    width: 278px;
    height: 804px;
    flex-shrink: 0;
    background-color: #171923;
    border: 0px, 1px, 0px, 0px;
    opacity: 0.7px;
    left: 1px;
    margin-left: 0px;
    margin-top: 0px;
}

.user{
    position: absolute;
    margin-top: 130px;
    margin-left: 30px;
    float: left;
}

.name{
    position: absolute;
    color: white;
    margin-top: 132px;
    margin-left: 92px;

}

.email{
    position: absolute;
    color: rgb(157, 150, 150);
    margin-top: 153px;
    margin-left: 92px;

}

.home{
    position: absolute;
    margin-top: 20px;
    margin-left: 43px;

}

.hometxt{
    position: absolute;
    color: white;
    margin-top: 21px;
    margin-left: 80px;
}

.linedash{
    margin-top: 210px;
}

.profile{
    position: absolute;
    margin-top: 70px;
    margin-left: 43px;

}

.proftxt{
    position: absolute;
    color: white;
    margin-top: 71px;
    margin-left: 80px;
}

.help{
    position: absolute;
    margin-top: 120px;
    margin-left: 43px;

}

.helptxt{
    position: absolute;
    color: white;
    margin-top: 121px;
    margin-left: 80px;
}

.category{
    position: absolute;
    margin-top: 170px;
    margin-left: 43px;

}

.categtxt{
    position: absolute;
    color: white;
    margin-top: 171px;
    margin-left: 80px;
}

.logout{
    position: absolute;
    margin-top: 450px;
    margin-left: 43px;

}

.logtxt{
    position: absolute;
    color: white;
    margin-top: 450px;
    margin-left: 80px;
}